<%- include('partials/prologue.ejs', {title: `${profile.name} MBTI | Boo Personality Database`, description: `What is
  ${profile.name}'s MBTI personality type? Find out what ${profile.name}'s Myers Briggs, Enneagram, and Zodiac sign are
  in the Soulverse, the MBTI personality database of celebrities and fictional characters.`}) %>

  <div class="row sqs-row">
    <%- include('partials/categories.ejs') %>

  </div>

  <%- include('partials/epilogue.ejs') %>